*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
}

img {
    border-radius: 2rem;
}

p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
